.ad-block {
    float: right;
    width: 20%;
}
.topic-list {
    float: left;
    width: 80%;
}
.ad-unit {
    margin-left: 10px;
}
.ad-unit img {
    width: 100%;
}
.ad-unit img:nth-of-type(1) {
    margin-top: 10px;
}
.footer-message {
    float: left;
}
