.ad-block {
    float: right;
    width: 20%;
}
.topic-list {
    float: left;
    width: 80%;
}
.ad-unit {
    margin-left: 10px;
}
.ad-unit img {
    -ms-interpolation-mode: nearest-neighbor; // IE 7+ (non-standard property)
    image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
    image-rendering: -webkit-crisp-edges; // Safari 7+
    image-rendering: -moz-crisp-edges; // Firefox 3.6+
    image-rendering: -o-crisp-edges; // Opera 12
    image-rendering: pixelated; // Chrome 41+ and Opera 26+
    width: 100%;
}
.ad-unit img:nth-of-type(1) {
    margin-top: 10px;
}
.footer-message {
    float: left;
}
#list-area {
    margin-bottom: 0;
}
.wrap .contents {
  z-index: 1;
}
.discovery-list-container-top-outlet.indeni-ads{
  position: relative;
  z-index: 2;
}